/*General*/

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/Playfair_Display/static/PlayfairDisplay-Regular.woff2) format("woff2");
  font-size: 500;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/Playfair_Display/static/PlayfairDisplay-Medium.woff2) format("woff2");
  font-size: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto/static/Roboto-Regular.woff2) format("woff2");
  font-size: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(75, 74, 74);
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

/*Header*/

.header {
  padding: 1.5em;
  background-image: linear-gradient(160deg, rgb(8, 145, 178) 40%, transparent 40%);
  margin-bottom: 7em;
}

.header__profile-container {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  box-shadow: 0px 5px 5px rgba(5, 5, 5, 0.137);
  height: 600px;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30%;
}

.header__title {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  color: white;
  font-size: 3rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 150%;
  font-size: 1.3rem;
  z-index: 2;
  background-color: white;
}

.about-container__title {
  margin-bottom: 0.5em;
}

.header__nav-list {
  display: flex;
  gap: 1em;
}

.header__nav-icon {
  width:40px;
  align-items: center;
}

/*Main*/

.main {
  padding: 1.5em;
}

.main__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-rows: repeat(600px);
  gap: 3em;
}

.card__image-container {
  width: 100%;
  height: 300px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.project-card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}

.card__information {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.project-name {
  font-size: 1.25rem;
  margin-left: 1em;
}

.project-icon {
  width: 30px;
  margin-right: 0.5em;
}

.project-description {
  width: 80%;
  align-self: center;
}

/*Footer*/

.footer {
  background-color: rgb(8, 145, 178);
  color: white;
}

.footer__information {
  padding: 1.5em 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.information__title {
  font-size: 2.5rem;
}

.footer p {
  color: white;
}

.contact-icon {
  display: none;
  width: 25px;
}

.contact-number {
  overflow-wrap: anywhere;
}

.footer__nav-icon {
  width: 50px;
}

.footer__nav-list {
  display: flex;
  gap: 1em;
}

.footer__image-container {
  margin-top: 4em;
}

.footer-img {
  width: 100%;
  object-fit: cover;
  display: block
}

/*Media Queries*/

/*Tablet*/
@media (min-width: 500px) and (max-width: 1000px) {
  /*Header*/
  .header {
    padding: 9em 6em 0;
  }

  .header-nav {
    display: none;
  }

  .header__title {
    top: 0; 
    left: 70%; 
    font-size: 2rem;
    white-space: nowrap;
  }

  .header__container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 8em 2em 5em 2em;
    background-color: white;
  }

  .header__profile-container {
    max-width: 50%;
    height: 30%;
    float: left;
    transform: scale(1.35, 1.6);
    transform-origin: bottom right;
    margin-right: 1em;
  }

  .header-img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
  }

  .about-container {
    display: block;
  }

  .about-container__title {
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 0.5em;
  }

  /*Main*/

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .main__title {
    text-align: left;
  }

  .project-name {
    font-size: 1.25rem;
  }

  .project-description {
    font-size: 1.15rem;
  }

  /*Footer*/

  .footer {
    margin-top: 12em;
    display: flex;
    padding: 3em 3em 5em 3em;
    justify-content: space-between;
    align-items: normal;
  }

  .footer__information {
    padding: 0;
    width: 50%;
  }

  .footer__image-container {
    width: 50%;
    height: 450px;
    margin-top: 0;
  }

  .footer-img {
    height: 100%;
  }

  .information__contact-info {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .contact-icon {
    display: block;
  }
}

/*Desktop*/
@media (min-width: 1000px) {
  /*Header*/
  .header {
    padding: 3em 2em 0 4em;
  }

  .header__container {
    display: flex;
    align-items: center;
  }

  .header__profile-container {
    width: 50%;
  }

  .header__title {
    left: 12%;
    bottom: 0;
  }

  .about-container {
    width: 50%;
    height: 400px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 2.5em 1em 1em 1em;
  }

  .about-container__title {
    align-self: normal;
  }

  .header-nav {
    align-self: end;
  }

  /*Main*/ 
  .main {
    padding: 0 4em;
  }

  .main__title {
    text-align: left;
  }

  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__image-container {
    height: 400px;
  }

  .project-img {
    height: 100%;
  }

  .project-name {
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 1.25rem;
  }


  /*Footer*/

  .footer {
    margin-top: 7em;
    display: flex;
    padding: 3em 5em 5em 5em;
    justify-content: space-between;
    align-items: normal;
  }

  .footer__information {
    padding: 0;
    width: 50%;
    font-size: 1.25rem;
  }

  .information__title {
    font-size: 3rem;
  }



  .footer__image-container {
    width: 50%;
    max-width: 600px;
    height: 450px;
    margin-top: 0;
  }

  .footer-img {
    height: 100%;
  }

  .information__contact-info {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .contact-icon {
    display: block;
  }
}