/*General*/

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/Playfair_Display/static/PlayfairDisplay-Regular.woff2) format("woff2");
  font-size: 500;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/Playfair_Display/static/PlayfairDisplay-Bold.woff2) format("woff2");
  font-size: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto/static/Roboto-Regular.woff2) format("woff2");
  font-size: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(75, 74, 74);
}

ul, li {
  list-style: none;
}

/*Header*/

.header {
  padding: 1.5em;
  background-image: linear-gradient(160deg, rgb(8, 145, 178) 40%, transparent 40%);
  margin-bottom: 7em;
}

.header__profile-container {
  max-width: 400px;
  position: relative;
  margin-bottom: 1em;
  box-shadow: 0px 5px 5px rgba(5, 5, 5, 0.137);
  height: 600px;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30%;
}

.header__title {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  color: white;
  font-size: 4rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 150%;
  font-size: 1.5rem
}

.about-container__title {
  margin-bottom: 0.5em;
}

.header__nav-list {
  display: flex;
  gap: 1em;
}

/*Main*/

.main {
  padding: 1.5em;
}

.main__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-rows: repeat(600px);
  gap: 3em;
}

.card__image-container {
  width: 100%;
}

.project-img {
  width: 100%;
}

.project-card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}

.card__information {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.project-name {
  font-size: 1.5rem;
  margin-left: 1em;
}

.project-icon {
  width: 35px;
}

.project-description {
  width: 80%;
  align-self: center;
}

/*Footer*/

.footer {
  background-color: rgb(8, 145, 178);
  color: white;
}

.footer__information {
  padding: 1.5em 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.information__cta {
  font-size: 1.25rem;
}

.information__title {
  font-size: 3rem;
}

.footer p {
  color: white;
}

.contact-icon {
  display: none;
}

.contact-number {
  overflow-wrap: anywhere;
}

.footer__nav-icon {
  width: 60px;
}

.footer__nav-list {
  display: flex;
  justify-content: space-around;
}


.footer__image-container {
  margin-top: 4em;
}

.footer-img {
  width: 100%;
  object-fit: cover;
  display: block
}